/* colors */
/* Typografy */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.67;
  color: #495567;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  display: flex;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: -2.5px;
  line-height: 1;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -2.14286px;
  line-height: 1;
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1.78571px;
  line-height: 1.2;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -1.07143px;
  line-height: 1.17;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
}

/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .sitenav__list {
  display: flex;
  gap: 3.2rem;
}
.wrapper .sitenav__link {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.67;
  color: #939caa;
  font-family: "Space Mono", monospace;
  transition: color 0.3s;
}
.wrapper .sitenav__link:hover {
  color: #fcb72b;
}
@media screen and (max-width: 768px) {
  .wrapper {
    background-color: #495567;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    z-index: 5;
    top: 5rem;
    left: -100%;
    bottom: 0;
    width: 25.6rem;
    transition: left 0.3s;
    padding-top: 12.8rem;
    padding-bottom: 2.4rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
  .wrapper .sitenav__list {
    flex-direction: column;
  }
  .wrapper .sitenav__link {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.39;
    color: #e5ecf4;
  }
}

.show-wrapper {
  left: 0;
}

.header {
  padding-top: 22px;
  padding-bottom: 21px;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
}
.header .container {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #333A44;
  padding-top: 3.5rem;
  padding-bottom: 3.2rem;
}
.footer .container {
  display: flex;
}

.social {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.social__item {
  transition: fill 0.3s;
}
.social__item:hover svg path {
  fill: #e5ecf4;
}

.main {
  margin-top: 9.6rem;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 6.4rem;
  }
}

.btn {
  padding: 1.4rem 4.7rem;
  background-color: #fcb72b;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.67;
  color: #ffffff;
  border: 3px solid transparent;
  transition: border-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  border-color: #fcb72b;
  background-color: transparent;
  color: #fcb72b;
}

.menu-btn {
  background-color: transparent;
  border: none;
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    margin-right: 9.8rem;
  }
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .show-cover {
    display: block;
  }
}
.logo-link .logo-img {
  margin-right: 5.8rem;
}
@media screen and (max-width: 768px) {
  .logo-link .logo-img {
    width: 7.55rem;
    height: 2rem;
  }
}

.main .hero {
  background-image: url("../images/hero-bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, left center;
}
.main .hero .container {
  padding: 15.2rem 0 15.2rem 16.5rem;
}
.main .hero__title {
  color: #FFFFFF;
  width: 50rem;
  margin-bottom: 4rem;
}
.main .hero__wrapper {
  width: 40.5rem;
  display: flex;
  margin-left: 9.05rem;
  flex-direction: column;
  position: relative;
}
.main .hero__wrapper img {
  position: absolute;
}
.main .hero__img--line {
  top: 50px;
  left: -26rem;
}
.main .hero__img--arrow {
  top: 50px;
  right: -48.6rem;
}
.main .hero__descr {
  margin-bottom: 4rem;
}/*# sourceMappingURL=main.css.map */