/* colors */
$yellow-color: #fcb72b;
$dark-navy-color: #495567;
$dim-grey-color: #939caa;
$light-grey-color: #e5ecf4;
$snow-color: #f2f5f9;
$light-yellow-color: #fff4df;
/* Typografy */
$heading-font-family: "Space Mono", monospace;
$main-font-family: "Lexend Deca", sans-serif;
