.header{
   
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    .container{
        padding: {
            top: 22px;
            bottom: 21px
        };
        height: 100%;
    background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    
}