.header{
    padding: {
        top: 22px;
        bottom: 21px
        
    };

    background-color: #ffffff;
    width: 100%;
    position: fixed;
    .container{
    position: relative;

        z-index: 3;
        display: flex;
        align-items: center;
    }
    
}