*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-family: $main-font-family;
  @include fontStyle(1.5rem, 1.67, normal, 400);
  color: $dark-navy-color;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
img {
  display: flex;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: $heading-font-family;
}
h1 {
  @include fontStyle(5.6rem, 1, -2.5px, 700);
}
h2 {
  @include fontStyle(4.8rem, 1, -2.14286px, 700);
}
h3 {
  @include fontStyle(4rem, 1.2, -1.78571px, 700);
}
h4 {
  @include fontStyle(2.4rem, 1.17, -1.07143px, 700);
}
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
}
