.main{
    .hero{
        background-image: url('../images/hero-bg-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, left center;
        @include responsive(desktop){
        }
        .container{
            padding: 15.2rem 0 15.2rem 16.5rem;
            @include responsive(desktop){
            display: flex;
            flex-direction: column;
            width: 100vw;
            align-items: center;
            position: relative;
            padding: 13.7rem 0 21.7rem 0;
            text-align: center;
        }
        }
    &__title{
        color: #FFFFFF;
        width: 50rem;
        margin-bottom: 4rem;
    }
    
    &__wrapper{
        width: 40.5rem;
        display: flex;  
        margin-left: 9.05rem;
        flex-direction: column;
        position: relative;
        img{
            position: absolute;
        }
    }
    &__img--line{
        top: 50px;
        left: -26rem;
    }  
    &__img--arrow{
        top: 50px;
        right: -48.6rem;
    }  
    &__descr{
        margin-bottom: 4rem;
    }
    @include responsive(desktop){
        &__wrapper{
            position: static;
            width: 57.3rem;
            margin-left: 0;
        }
        &__img--line{
            width: 15rem;
        }
        &__img--arrow{
            top: 47.3rem;
            left: -12.7rem;

        }
    }
    @include responsive (mobile){
        background-image: url('../images/hero-bg-img-mobile.jpg');
        background-position: left 0 bottom 0;
        &__title{
            @include fontStyle(4rem, 1, -1.78571px, 700);
            width: 31.1rem  ;
        }
        &__wrapper{
            width: 31.1rem;
        }
        &__img--arrow{
            left: -31.2rem;
            top: 53.9rem;
        }
    }
    }  
    .order{
        background-image: url('../images/order-bg-img.svg');
        background-repeat: no-repeat;
        background-position: left 0 top 20.8rem;
        .container{
            padding: {
                top: 16rem;
                bottom: 14.7rem;
            };
            color: $dark-navy-color;
        }
        &__list{
            display: flex;
            gap: 3rem;
        }
        &__img{
            margin-bottom: 4rem;
        }
        &__title{
            @include fontStyle(2.4rem, 1.17, -1.07143px, 700);
            margin-bottom: 2.7rem;
        }
        &__descr{
            color: $dim-grey-color;
            @include fontStyle(1.5rem, 1.67, normal, 400)
        }
        @include responsive (tablet){
            .container{
                padding: {
                    top: 12.2rem;
                    bottom: 9.2rem;
                };
            background-image: none;
            background-image: url('../images/order-bg-img-tablet.svg');
            background-repeat: no-repeat;
            background-position: top left 6.5rem;
            }
            display: grid;
            justify-content: center;
            &__item{
                display: flex;
                align-items: center;
            }
            &__img{
                margin-bottom: 0;
                margin-right: 7.9rem;
            }
            &__list{
                flex-direction: column;
                gap: 3rem;
            }
            .item-wrapper{
                width: 39.8rem;
            }
        }
        @include responsive (intermediate){
            &__img{
                width: 7rem;
                margin-right: 2rem;
            }
            .item-wrapper{
            }
        }
        @include responsive(mobile){
            background-image: none;
            .container{
                background-image: none;
                padding: {
                    top: 12rem;
                    bottom: 8.3rem;
                    left: 0;
                    right: 0;
                };
            }
            &__list{
                gap: 4.8rem;
            }
            &__item{
                gap: 2.4rem;
                width: 31.1rem;
                flex-direction: column;
                text-align: center;
            }
            &__title{
                @include fontStyle(2rem, 1.4, -0.892857px,700);
                margin-bottom: 2.4rem;
            }
          
            &__img{
                margin-bottom: 2.4rem;
                width: 5.6rem;
            }
            .item-wrapper{
                width: 31.1rem;
            }
        }
    }
    .service{
        overflow: hidden;
        position: relative;
        .container{
            padding: {
                top: 20rem;
                bottom: 32.9rem;
            };
            color: $dark-navy-color;
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 29.2rem;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item:nth-child(even) div{
            order: 1;
           
        }
        &__item:nth-child(even){
            justify-content: flex-end;
        }
        &__item:nth-child(even) img{
           left: -34.4rem;
        }
        &__item:nth-child(odd) img{
            right: -34.4rem;
         }
        &__info{
            width: 44.5rem;
        }
        &__img{
            position: absolute;
            width: 100rem;
        }
        &__title{
            margin-bottom: 2.4rem;
        }
        &__descr{
            @include fontStyle(1.5rem, 1.67, normal, 400);
            color: $dim-grey-color;
            margin-bottom: 4rem;    
        }
    }
}